<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">
    <script src="./../javascripts/jquery.min.js"></script>
    <script src="./../javascripts/bootstrap.min.js"></script>
    <link href="./../stylesheets/all.css" rel="stylesheet" type="text/css">
	<link href="./../stylesheets/index.css" rel="stylesheet" type="text/css">
</head>

<body>

</body>

</html>
